.row {
    width: 90%;
    margin: 20px auto;
}
.card {
    margin: 10px 0;
}
.card > .card-content {
    background: red;
    padding: 10px;
    text-align: center;
    font-size: 36px;
    height: 350px;
}
